//All styles can be added here.


body {
    @apply font-interlock antialiased leading-tight text-normal text-base;
}

.nav {
    @apply mr-4 font-medium leading-5;

    &:last-child {
        @apply ml-5 px-6 py-2 bg-primary text-white rounded-full text-sm;
    }
}

.container {
    @apply m-auto px-0;

    @screen lg {
        @apply px-12;
    }
}

.h-72 {
    height: 35rem;
}

section {
    &.header {
        background-image: url('../img/Image-1.svg');
        @apply bg-no-repeat bg-cover bg-center p-4;

        @screen lg {
            background-size: 30%;
            background-image: url('../img/creative.png');
            background-position: -40px top;
            @apply bg-no-repeat px-20 py-10;
        }
    }

    &:not(.header) {
        @apply p-8;

        @screen lg {
            @apply py-24 px-0;
        }
    }

    &.team {
        @apply pb-0;

        background-position-y: 150px;
        background-size: 50%;
        background-image: url('../img/team.png');
        @apply bg-no-repeat;

        .inner {
            background-size: 24%;
            background-position-y: 200px;
            background-position-x: right;
            background-image: url('../img/dot.png');
            @apply bg-no-repeat;

        }
    }

    &.contact {
        @apply pb-24 pt-0 mt-10;
    }

    &.footer {
        @apply pt-1 px-10 py-4;
        background-color: #FAF7FF;

        @screen lg {
            @apply pt-1 pb-8 py-10;
        }

        .inner {
            @apply p-0;

            @screen lg {
                @apply px-20 py-10;
            }
        }
    }

    &.portfolio {
        background-color: #502EFF;
        background-image: url('../img/dot.png');
        background-size: contain;
        @apply bg-no-repeat;

        .inner {
            // background-image: url('../img/dot.png');
            // background-position: -500px right;
            // border: 10px solid yellow;

            // @apply bg-no-repeat;
            h6 {
                @apply font-medium text-lg;
            }
        }
    }
}

header {
    overflow-x: hidden;
}

img.header-img {
    height: 120%;
    object-fit: cover;
    object-position: center;
    top: 0px;
    right: 0;
    width: 45%;
    @apply z-0;
}