//All styles can be added here.

$primary-color: #162380;
$alt-color: #FFD005;

.auth-bg {
    background-color: #E5E5E5;

    form {
        border: 0.2px solid #4553C780;
    }
}

ul.tabs {
    li {
        @apply mr-10 p-px border-b-2 border-white cursor-pointer;

        &.active {
            @apply border-black;
        }
    }
}

section>main {
    box-shadow: 0px 4px 34px rgba(69, 83, 199, 0.08);
}

table {
    border-color: #E9E5E5;
    box-shadow: 0px 4px 25px rgba(69, 83, 199, 0.15);
}

.modal {
    transition: opacity 0.25s ease;
}

body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}

// h2 {

// }
// h3 {

// }
// p {

// }
// svg {
//     @apply fill-current;
// }
// h1 {
//     @apply .text-size-3;
//     @screen lg {
//       @apply .text-size-5;
//     }
//   }