@tailwind base;

@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    src: local('Avenir'), local('Avenir-Medium'), url(../font/Avenir.otf) format('otf');
}

h1.tagline {
    @apply mb-8 text-4xl font-black;

    @screen lg {
        @apply text-6xl leading-20;
    }
}

p.long-text {
    hyphens: auto;
    @apply text-justify;
}

p.tagline-subtext {
    @apply text-xl font-medium mb-12 leading-8;
}

h2 {
    @apply font-black;

    &.section-header {
        @apply text-blue text-2xl leading-10;

        @screen lg {
            @apply text-4xl;
        }
    }
}

h5 {
    &.section-subtext {
        @apply font-semibold text-blue mb-2;

        @screen lg {
            @apply mb-1;
        }
    }
}

label {
    @apply block text-blue text-sm font-medium mb-2 leading-7 tracking-wide @screen lg {
        @apply text-lg;
    }
}

input {
    height: 42px;

}

textarea,
input {
    @apply appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight leading-7;

    &:focus {
        @apply outline-none border-gray-500
    }
}

.home__utility-images {
    background-image: url('../img/pattern-1.png');
    @apply flex flex-col mb-4;

    figure {
        height: 150px;
        width: 150px;
        border-width: 4px;

        @apply rounded-lg overflow-hidden border-gray-200;

        @screen lg {
            height: 284px;
            width: 283px;
        }

        &:nth-child(2) {

            @apply self-center -mt-4;

            @screen lg {
                @apply -mt-24 self-end;
            }
        }

        &:nth-child(3) {

            @apply self-end -mt-4;

            @screen lg {
                @apply -mt-24 self-start;
            }
        }

        img {
            @apply w-full h-full block object-center object-none;
        }
    }
}

.home__utility-list {
    @apply mb-10;

    @screen lg {
        @apply mb-0;
    }

    li {
        @apply flex items-center my-3;

        @screen lg {
            @apply my-6;
        }

        span {
            @apply ml-3 text-blue font-extrabold leading-6;
        }
    }
}

.home__get-started-card-wrapper {
    @apply mx-auto flex items-center justify-evenly mb-24 p-8 flex-col;

    @screen lg {
        @apply p-0 flex-row;
    }

    &>div {
        @apply w-full p-8 shadow-2xl rounded-lg bg-white;

        @screen lg {
            @apply w-1/4;
        }

        // &:first-child {
        //     background: white url("../img/create.svg") no-repeat 120% 125%;
        // }

        // &:nth-child(2) {
        //     background: white url("../img/add-payment.svg") no-repeat 120% 125%;
        // }

        // &:last-child {
        //     background: white url("../img/send-money.svg") no-repeat 120% 125%;
        // }

        &:not(:last-child) {
            @apply mb-10;

            @screen lg {
                @apply mb-0;
            }
        }

        svg {
            @apply fill-current w-16 h-16 mx-auto shadow-lg rounded-full;

            @screen lg {
                @apply w-24 h-24;
            }
        }
    }
}

.home__card-feature {
    @apply py-8;

    @screen lg {
        @apply py-20;
    }

    p {
        @apply mb-4;

        @screen lg {
            @apply mb-12;
        }
    }
}

.home__brand-list {
    background-image: url('../img/pattern-1.png');

    div {
        @apply w-full flex flex-row justify-between mb-6;

        figure {
            @apply rounded-lg overflow-hidden shadow-lg w-1/4 bg-white p-4;

            img {
                @apply w-full h-full block object-contain object-center;
            }
        }

    }
}

.about__carousel {
    background-image: url('../img/pattern-1.png');
    @apply flex flex-col justify-center items-end;

    figure {
        width: 80%;
        height: 150px;
        // border-width: 4px;
        @apply rounded-lg overflow-hidden;

        &:nth-child(1) {
            @screen lg {
                height: 200px;
                width: 390px;
            }
        }

        &:nth-child(2) {
            @screen lg {
                height: 200px;
                width: 190px;
                @apply -mt-24 mr-64;
            }

            @apply -mt-6 self-center mr-20;
        }

        &:nth-child(3) {
            @screen lg {
                height: 200px;
                width: 420px;
                @apply -mt-20;

            }

            @apply -mt-4;
        }

        img {
            @apply w-full h-full block object-cover object-center;
        }
    }
}

.about__main {
    @apply mx-auto flex flex-col items-center;

    .about__left {
        @apply mb-4 flex items-start flex-wrap justify-between px-4;

        figure {
            flex-basis: calc(50% - 5px);
            height: 200px;
            @apply relative rounded-lg overflow-hidden flex-grow-0 flex-shrink block shadow-inner;

            @screen lg {
                flex-basis: calc(50% - 20px);
                height: 280px;
            }

            &:nth-of-type(odd) {
                @apply mt-6;

                @screen lg {
                    @apply mt-12;
                }
            }

            img {
                @apply w-full h-full block object-cover object-center;
            }
        }
    }

    .about__right {
        @apply px-4;

        h2 {
            @apply mb-0 mt-8;

            @screen lg {
                @apply mb-6 mt-0;
            }
        }

        p {
            @apply mb-4 text-normal text-lg leading-8;

            @screen lg {
                @apply mb-12 text-xl;
            }
        }
    }
}

footer {
    background-color: #46669A;
    background-image: url('../img/pattern-1.png');
    background-size: 100% 100%;
    @apply py-8 bg-no-repeat;

    .container {
        @apply mx-auto flex flex-row p-4 flex-wrap justify-between text-white;

        div {
            flex-basis: calc(50% - 5px);
            @apply mb-12;

            @screen lg {
                flex-basis: initial;
                @apply mb-4;
            }

            p {
                @apply mb-4;

                &:last-child {
                    @apply flex justify-between items-center;

                }
            }

        }

    }
}


@tailwind components;

.btn {
    @apply font-medium py-2 px-4 rounded leading-6 text-base shadow-lg;

    // sm:text-base text-sm 
    @screen lg {
        @apply text-lg;
    }

    // @screen sm {
    //     @apply text-base;
    // }

    &:focus {
        @apply outline-none shadow-outline;
    }
}

.btn-yellow {
    @apply bg-yellow text-white;

    &:hover {
        @apply bg-yellow-dark text-gray-500;
    }
}

.nav {
    @apply block mt-4 mr-8 font-medium;

    &:hover {
        @apply text-gray-500
    }
}


@tailwind utilities;