@tailwind base;

@font-face {
    font-family: 'Interlock';
    font-style: normal;
    font-weight: 400;
    src: local('Inter-Regular'), url(../font/Inter-Regular.woff) format('woff');
}

@tailwind components;


@tailwind utilities;